<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="path to sln" value=".\source\MyProject.sln" />
    <add key="root project namespace" value="MyProject" />
    <add key="template name" value="Dev Adventures .NET Core API" />
    <add key="template description" value="A robust and maintainable production-ready .NET Core template." />
    <add key="vsix custom project guid" value="1726E0F3-D13F-442E-A6CF-E1C8E6BE22FA" />
    <add key="vsix custom id" value="DevAdventuresWizard.fc785eac-b85d-48f0-99b2-c6d9b394449f" />
    <add key="custom template icon" value=".\template-icon.ico" />
    <add key="destination" value="template" />
    <add key="vsix custom icon" value="logo-only.png" />
    <add key="vsix version" value="2.3" />
    <add key="vsix publisher full name" value="Dobromir Nikolov" />
    <add key="vsix publisher username" value="dnikolovv" />
    <add key="vsix display name" value="Dev Adventures .NET Core project setup." />
    <add key="vsix description" value="A robust and maintainable production-ready .NET Core template." />
    <add key="template wizard assembly" value="DevAdventuresWizard" />
    <add key="vsix more info" value="https://devadventures.net" />
    <add key="folders to ignore" value="bin,packages,obj,lib,.git,.vs,node_modules" />
    <add key="vsix getting started" value="https://github.com/dnikolovv/devadventures-net-core-template" />
    <add key="vsix repo" value="https://github.com/dnikolovv/devadventures-net-core-template" />
    <add key="vsix qna enable" value="true" />
    <add key="vsix price category" value="free" />
    <add key="vsix internal name" value="dev-adventures-project-setup" />
    <add key="vsix categories" value="visual studio extensions,other templates" />
    <add key="vsix overview md path" value="overview.md" />
    <add key="file extensions to ignore" value=".min.js" />
    <add key="vsix tags" value="asp.net,functional,programming,either,monad,xunit" />
  </appSettings>
</configuration>
